<header
  class="demo-header mdl-layout__header mdl-color--grey-100 mdl-color-text--grey-600"
>
  <div class="mdl-layout__header-row">
    <span class="mdl-layout-title"><%= title %></span>
    <div class="mdl-layout-spacer"></div>
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--expandable">
      <label class="mdl-button mdl-js-button mdl-button--icon" for="search">
        <i class="material-icons">search</i>
      </label>
      <div class="mdl-textfield__expandable-holder">
        <input class="mdl-textfield__input" type="text" id="search" />
        <label class="mdl-textfield__label" for="search"
          >Enter your query...</label
        >
      </div>
    </div>
    <button
      class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
      id="hdrbtn"
    >
      <i class="material-icons">more_vert</i>
    </button>
    <form
      id="formLogout"
      class="form-horizontal"
      role="form"
      method="POST"
      action="/signout"
      accept-charset="UTF-8"
    >
      <ul
        class="mdl-menu mdl-js-menu mdl-js-ripple-effect mdl-menu--bottom-right"
        for="hdrbtn"
      >
        <li class="mdl-menu__item">About</li>
        <li class="mdl-menu__item">Contact</li>
        <li onclick="formLogout.submit();" class="mdl-menu__item">
          Logout
        </li>
      </ul>
    </form>
  </div>
</header>
