<html>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Comfortaa"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link rel="icon" href="/images/tma.png" />
  <link href="/styles/system.css" rel="stylesheet" />
  <script src="/assets/circleDonutChart.js"></script>
  <head>
    <title>Smart Connected Light</title>
    <meta name="charset" content="uft-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="A front-end template that helps you build fast, modern mobile web apps."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Material Design Lite" />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
    />
  </head>
  <body>
    <div
      class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
    >
      <% const title = 'Dashboard' %> <% include appbar.ejs %> <% const email =
      userMail %> <% include sidebar.ejs %>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div
          style="background: white; margin: 20px; padding: 10px;"
          class="card-item flex-col"
        >
          <div
            class="row full-height"
            style="max-height: calc(100% - 40px); overflow: hidden;"
          >
            <div class="col-lg-12">
              <div
                class="panel-body flex-row"
                style="padding: 0px; width: inherit; height: inherit;"
              >
                <div
                  id="tem"
                  style="margin: 20px; height: 300px; width: 100%;"
                ></div>
                <div
                  id="pre"
                  style="margin: 20px; height: 300px; width: 100%;"
                ></div>
                <div
                  id="hum"
                  style="margin: 20px; height: 300px; width: 100%;"
                ></div>
                <div
                  id="gas"
                  style="margin: 20px; height: 300px; width: 100%;"
                ></div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>
    <script type="text/javascript">
      window.onload = function () {
        var circle1 = new circleDonutChart("tem");
        circle1.draw({
          end: 37,
          start: 0,
          maxValue: 100,
          unitText: "Celsius",
          titlePosition: "outer-bottom",
          titleText: "Temperature",
          outerCircleColor: "#0085c8",
          innerCircleColor: "#adada6",
        });

        var circle2 = new circleDonutChart("pre");
        circle2.draw({
          end: 52,
          start: 0,
          maxValue: 100,
          unitText: "",
          titlePosition: "outer-bottom",
          titleText: "Pressure",
          outerCircleColor: "#0085c8",
          innerCircleColor: "#adada6",
        });

        var circle3 = new circleDonutChart("hum");
        circle3.draw({
          end: 71,
          start: 0,
          maxValue: 100,
          unitText: "",
          titlePosition: "outer-bottom",
          titleText: "Humidity",
          outerCircleColor: "#0085c8",
          innerCircleColor: "#adada6",
        });

        var circle4 = new circleDonutChart("gas");
        circle4.draw({
          end: 55,
          start: 0,
          maxValue: 100,
          unitText: "",
          titlePosition: "outer-bottom",
          titleText: "Gas",
          outerCircleColor: "#0085c8",
          innerCircleColor: "#adada6",
        });
      };
    </script>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      style="position: fixed; left: -1000px; height: -1000px;"
    >
      <defs>
        <mask id="piemask" maskContentUnits="objectBoundingBox">
          <circle cx="0.5" cy="0.5" r="0.49" fill="white" />
          <circle cx="0.5" cy="0.5" r="0.40" fill="black" />
        </mask>
        <g id="piechart">
          <circle cx="0.5" cy="0.5" r="0.5" />
          <path
            d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z"
            stroke="none"
            fill="rgba(255, 255, 255, 0.75)"
          />
        </g>
      </defs>
    </svg>
    <div class="col-sm-12">
      <div id="container" style="height: 30%; width: 100%;"></div>
    </div>
    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
