<html>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Comfortaa"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link rel="icon" href="/images/tma.png" />
  <link href="/styles/system.css" rel="stylesheet" />

  <link
    rel="stylesheet"
    href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css"
    integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
    crossorigin=""
  />
  <script
    src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js"
    integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew=="
    crossorigin=""
  ></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.0.4/socket.io.js"></script>
  <head>
    <title>Smart Connected Light</title>
    <meta name="charset" content="uft-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="A front-end template that helps you build fast, modern mobile web apps."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Material Design Lite" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
    />
  </head>

  <body>
    <div
      class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
    >
      <% const title = 'Location' %> <% include appbar.ejs %> <% const email =
      userMail %> <% include sidebar.ejs %>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div class="container full-height">
          <div
            class="row full-height margin"
            style="max-height: calc(100% - 40px); overflow: hidden;"
          >
            <div class="col-lg-12">
              <div class="panel panel-default">
                <div
                  class="panel-body flex-row"
                  style="padding: 0px; height: 100%;"
                >
                  <div style="height: 100%; width: 70%;" id="map"></div>
                  <div class="flex-col flex-center" style="width: 30%;">
                    <div
                      class="card-item flex-col flex-center"
                      style="text-align: center;"
                    >
                      <label
                        style="
                          font-weight: bold;
                          font-size: 20px;
                          color: black;
                        "
                      >
                        Chọn tuyến đường
                      </label>
                      <div>
                        <select
                          onchange="<%= handleViewLine %>"
                          style="margin: 10px; border-radius: 4px;"
                        >
                          <% for(var i = 0; i < maps.length; i++){ %>
                          <option value="<%=maps[i].device_id %>"
                            ><%= `${maps[i].device_name} - ${maps[i].type}` %>
                          </option>
                          <% } %>
                        </select>
                      </div>
                    </div>
                    <div class="card-item flex-col" style="text-align: center;">
                      <label
                        style="
                          font-weight: bold;
                          font-size: 20px;
                          color: black;
                        "
                      >
                        Chọn kiểu sáng
                      </label>
                      <form name="lighting">
                        <div
                          style="
                            align-self: baseline;
                            margin: 0 15px;
                            display: flex;
                          "
                        >
                      
                          <input
                            type="radio"
                            id="max"
                            name="lightValue"
                            value="max"
                          />
                          <label style="margin-left: 5px;" for="max">Cao</label>
                        </div>
                        <div
                          style="
                            align-self: baseline;
                            margin: 0 15px;
                            display: flex;
                          "
                        >
                          <input
                            type="radio"
                            id="med"
                            name="lightValue"
                            value="medium"
                          />
                          <label style="margin-left: 5px;" for="med">
                            Trung bình
                          </label>
                        </div>
                        <div
                          style="
                            align-self: baseline;
                            margin: 0 15px;
                            display: flex;
                          "
                        >
                          <input
                            type="radio"
                            id="min"
                            name="lightValue"
                            value="min"
                          />
                          <label style="margin-left: 5px;" for="min">Thấp</label>
                        </div>
                      </form>
                    </div>
                    <div class="card-item flex-col" style="text-align: center;">
                      <label
                        style="
                          font-weight: bold;
                          font-size: 20px;
                          color: black;
                        "
                      >
                        Thông số môi trường
                      </label>
                      <div
                        style="
                          align-self: baseline;
                          margin: 0 15px;
                          text-align: left;
                        "
                      >
                        <label style="font-weight: bold; margin: 10px 5px;">
                          Nhiệt độ:
                        </label>
                        <label
                          id="tem"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black;">
                          &#8451
                        </label>
                        <br />
                        <label style="font-weight: bold; margin: 10px 5px;">
                          Áp suất:
                        </label>
                        <label
                          id="pre"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black;">
                          mPA
                        </label>
                        <br />
                        <label style="font-weight: bold; margin: 10px 5px;">
                          Độ ẩm:
                        </label>
                        <label
                          id="hum"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black;">
                          %
                        </label>
                        <br />
                        <label style="font-weight: bold; margin: 10px 5px;">
                          Nồng độ gas:
                        </label>
                        <label
                          id="gas"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black;">
                          mg/m3
                        </label>
                        <br />
                        <label style="font-weight: bold; margin: 10px 5px;">
                          Nồng độ bụi:
                        </label>
                        <label
                          id="pm1"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black; margin: -2px;">
                          -
                        </label>
                        <label
                          id="pm2-5"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black; margin: -2px;">
                          -
                        </label>
                        <label
                          id="pm10"
                          style="font-weight: bold; color: black;"
                        >
                          0
                        </label>
                        <label style="font-weight: bold; color: black;">
                          mg/m3
                        </label>
                      </div>
                    </div>
                    <div class="card-item flex-col" style="text-align: center;">
                      <label
                        style="
                          font-weight: bold;
                          font-size: 20px;
                          color: black;
                        "
                      >
                        Xem camera
                      </label>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
        <script defer="defer" type="text/javascript">
          try {
            //Use default blue icon for system which is not in alert
            var blueIcon = new L.Icon.Default();
            //Define red icon for system in alert from default icon
            var LightOn = L.Icon.Default.extend({
              options: {
                iconUrl: "light-on.png",
                shadowUrl: "light-on.png",
                iconSize: [48, 48],
                imagePath: 'https://img.icons8.com/color/48/000000/',
                shadowSize: [0,0]
              },
            });
            var LightOff = L.Icon.Default.extend({
              options: {
                iconUrl: "light-off.png",
                shadowUrl: "light-off.png",
                iconSize: [48, 48],
                imagePath: 'https://img.icons8.com/color/48/000000/',
                shadowSize: [0,0]
              },
            });
            var lightOnIcon = new LightOn();
            var lightOffIcon = new LightOff();

            //Create the map
            var map = L.map("map").setView([51.505, -0.09], 13);

            //Define default map layer (we use opentreetmap but cloudmade, mapquest ... could be used)
            L.tileLayer("https://{s}.tile.openstreetmap.org/{z}/{x}/{y}.png", {
              attribution:
                '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors',
              maxZoom: 18,
            }).addTo(map);

            const deviceMaps = <%- JSON.stringify(maps) %>;
            var lines= new Array();
            var latlngs = new Array();
            var globalMarkers = new Array();
            if (deviceMaps.length > 0) {
              for (var index = 0; index < deviceMaps.length; index++) {

                const devices = deviceMaps[index].summary.data;
                var markers = new Array();
                for (var i = 0; i < devices.length; i++) {
                // get position
                var lon = devices[i].lon;
                var lat = devices[i].lat;
                // define icon color from alert state
                var icon = devices[i].state == 'on' ? lightOnIcon : lightOffIcon;
                markers[i] = L.marker([lat, lon], {
                  icon: icon,
                  // title: `Device id: ${devices[i].id}`,
                  url: "systems/details?uid=" + -1,
                }).on("click", function (e) {
                  // TODO handle click action
                });

                markers[i].bindPopup(`<p style="font-weight: bold;">Device id: ${devices[i].id}<br />Trạng thái: ${devices[i].state == 'on' ? 'Đang mở' : 'Đang đóng'}</p>`, {
                  closeButton: false
                }).openPopup();
                latlngs[i]=[lat, lon];
                }
                L.polyline(latlngs, {noClip: true, color: 'red'}).addTo(map);
                var line = L.featureGroup(markers).addTo(map);
                globalMarkers[index] = markers;
                lines[index] = line;
              }

              if(lines.length > 0)
                map.fitBounds(lines[0].getBounds());
            }

            const socket = io('https://sensorhub.tech');
            const token = <%- JSON.stringify(access_token) -%>;
            socket.on('connect', function () {
                socket.emit('authenticate', {
                    token: token
                })
            });
            socket.on('lighting', function (data) {

                if(typeof data !== "undefined" && (data.message_type == null || typeof data.message_type == "undefined")) {

                  const {light, environment} = data.data

                  var index = -1;

                  for (var i = 0; i < deviceMaps.length; i++) {
                    if(deviceMaps[i].device_id == data.id){
                      index=i;
                      break;
                    }
                  }

                  var markers = new Array();
                  for (var i = 0; i < light.length; i++) {

                    const device = deviceMaps[index].summary.data;
                    // get position
                    var lon = device[i].lon;
                    var lat = device[i].lat;
                    // define icon color from alert state
                    var icon = light[i].state == 'on' ? lightOnIcon : lightOffIcon;
                    markers[i] = L.marker([lat, lon], {
                      icon: icon,
                      // title: `Device id: ${devices[i].id}`,
                      url: "systems/details?uid=" + -1,
                    }).on("click", function (e) {
                      // TODO handle click action
                    });

                    markers[i].bindPopup(`<p style="font-weight: bold;">Device id: ${light[i].id}<br/>Trạng thái: ${light[i].state == 'on' ? 'Đang mở' : 'Đang đóng'}<br/>Mức pin: ${light[i].battery}%</p>`, {
                      closeButton: false
                    }).openPopup();
                  }
                  
                  for (var i = 0; i < globalMarkers[index].length; i++) 
                    map.removeLayer(globalMarkers[index][i]);
                  var line = L.featureGroup(markers).addTo(map);
                  globalMarkers[index] = markers;
                  
                  lines[index] = line;
                  map.fitBounds(lines[index].getBounds());

                  document.getElementById('tem').innerHTML = environment.temperature;
                  document.getElementById('pre').innerHTML = environment.pressure;
                  document.getElementById('hum').innerHTML = environment.humidity;
                  document.getElementById('gas').innerHTML = environment.gas;
                  document.getElementById('pm1').innerHTML = environment['PM1.0'];
                  document.getElementById('pm2-5').innerHTML = environment['PM2.5'];
                  document.getElementById('pm10').innerHTML = environment['PM10'];
                }
            });

              var rad = document.lighting.lightValue;
              var prev = null;
              for (var i = 0; i < rad.length; i++) {
                  rad[i].addEventListener('change', function() {
                      if (this !== prev) {
                          prev = this;
                      }
                      var value = 90;
                      switch(this.value){
                        case 'max':
                          value=90;
                          break;
                        case 'medium':
                          value=60;
                          break;
                        case 'min':
                          value=30;
                          break;
                        default:
                          value=90;
                          break;
                      };
                    socket.emit('lighting', {
                      "message_type": "config",
                      "data": { 
                        "lighting_type": "all",
                        "lighting_level": value
                      }
                    }) 
                  });
              }

             setViewLine = (value) => {
                for (var index = 0; index < deviceMaps.length; index++) {
                  if(deviceMaps[index].device_id == value){
                  map.fitBounds(lines[index].getBounds());
                  break;
                  }
                }
              };
          } catch (err) {
            console.error(err);
          }
        </script>
      </main>
    </div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      style="position: fixed; left: -1000px; height: -1000px;"
    >
      <defs>
        <mask id="piemask" maskContentUnits="objectBoundingBox">
          <circle cx="0.5" cy="0.5" r="0.49" fill="white" />
          <circle cx="0.5" cy="0.5" r="0.40" fill="black" />
        </mask>
        <g id="piechart">
          <circle cx="0.5" cy="0.5" r="0.5" />
          <path
            d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z"
            stroke="none"
            fill="rgba(255, 255, 255, 0.75)"
          />
        </g>
      </defs>
    </svg>
    <div class="col-sm-12">
      <div id="container" style="height: 30%; width: 100%;"></div>
    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
