<div
  class="demo-drawer mdl-layout__drawer mdl-color--blue-grey-900 mdl-color-text--blue-grey-50"
>
  <header class="demo-drawer-header">
    <img src="/images/tma.png" class="demo-avatar" />
    <div class="demo-avatar-dropdown">
      <span><%= email %></span>
      <div class="mdl-layout-spacer"></div>
      <button
        id="accbtn"
        class="mdl-button mdl-js-button mdl-js-ripple-effect mdl-button--icon"
      >
        <i class="material-icons" role="presentation">arrow_drop_down</i>
        <span class="visuallyhidden">Accounts</span>
      </button>
      <form
        id="myForm"
        class="form-horizontal"
        role="form"
        method="POST"
        action="/signout"
        accept-charset="UTF-8"
      >
        <ul
          class="mdl-menu mdl-menu--bottom-right mdl-js-menu mdl-js-ripple-effect"
          for="accbtn"
        >
          <li onclick="myForm.submit();" class="mdl-menu__item">Logout</li>
          <!-- <li class="mdl-menu__item">
          <i class="material-icons">add</i>Add another account...
        </li> -->
        </ul>
      </form>
    </div>
  </header>
  <nav class="demo-navigation mdl-navigation mdl-color--blue-grey-800">
    <a class="mdl-navigation__link" href="/maps/"
      ><i
        class="mdl-color-text--blue-grey-400 material-icons"
        role="presentation"
        >pin_drop</i
      >Location</a
    >
    <a class="mdl-navigation__link" href="/dashboard/"
      ><i
        class="mdl-color-text--blue-grey-400 material-icons"
        role="presentation"
        >bar_chart</i
      >Dashboard</a
    >
    <a class="mdl-navigation__link" href="/user/"
      ><i
        class="mdl-color-text--blue-grey-400 material-icons"
        role="presentation"
        >people</i
      >User</a
    >
    <div class="mdl-layout-spacer"></div>
    <a class="help-layout" href="/help"
      ><i
        class="pr-2 mdl-color-text--blue-grey-400 material-icons"
        role="presentation"
        >help_outline</i
      >Help</a
    >
  </nav>
</div>
