<html>
  <link
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link
    href="https://fonts.googleapis.com/css?family=Comfortaa"
    rel="stylesheet"
    id="bootstrap-css"
  />
  <link rel="icon" href="/images/tma.png" />
  <link href="/styles/system.css" rel="stylesheet" />
  <head>
    <title>Smart Connected Light</title>
    <meta name="charset" content="uft-8" />
    <script src="https://code.jquery.com/jquery-2.2.4.min.js"></script>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta
      name="description"
      content="A front-end template that helps you build fast, modern mobile web apps."
    />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1.0, minimum-scale=1.0"
    />
    <meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <meta name="apple-mobile-web-app-title" content="Material Design Lite" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Roboto:regular,bold,italic,thin,light,bolditalic,black,medium&lang=en"
    />
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <link
      rel="stylesheet"
      href="https://code.getmdl.io/1.3.0/material.cyan-light_blue.min.css"
    />
  </head>

  <body>
    <div
      class="demo-layout mdl-layout mdl-js-layout mdl-layout--fixed-drawer mdl-layout--fixed-header"
    >
      <% const title = 'User information' %> <% include appbar.ejs %> <% const
      email = userInfo.email %> <% include sidebar.ejs %>
      <main class="mdl-layout__content mdl-color--grey-100">
        <div
          style="width: 500px; background: white; margin: 20px; padding: 10px;"
          class="card-item flex-col"
        >
          <div
            class="row full-height"
            style="max-height: calc(100% - 40px); overflow: hidden;"
          >
            <div class="col-lg-12">
              <div
                class="panel-body flex-col"
                style="padding: 0px; height: 100%;"
              >
                <div class="user-info-item">
                  <span style="vertical-align: sub;">User id:</span>
                  <label style="vertical-align: sub;"
                    ><%= userInfo._id %></label
                  >
                </div>
                <div class="user-info-item">
                  <span style="vertical-align: sub;">Name:</span>
                  <label style="vertical-align: sub;"
                    ><%= userInfo.name %></label
                  >
                </div>
                <div class="user-info-item">
                  <span style="vertical-align: sub;">Email:</span>
                  <label style="vertical-align: sub;"
                    ><%= userInfo.email %></label
                  >
                </div>
              </div>
            </div>
          </div>
        </div>
      </main>
    </div>

    <svg
      xmlns="http://www.w3.org/2000/svg"
      xmlns:xlink="http://www.w3.org/1999/xlink"
      version="1.1"
      style="position: fixed; left: -1000px; height: -1000px;"
    >
      <defs>
        <mask id="piemask" maskContentUnits="objectBoundingBox">
          <circle cx="0.5" cy="0.5" r="0.49" fill="white" />
          <circle cx="0.5" cy="0.5" r="0.40" fill="black" />
        </mask>
        <g id="piechart">
          <circle cx="0.5" cy="0.5" r="0.5" />
          <path
            d="M 0.5 0.5 0.5 0 A 0.5 0.5 0 0 1 0.95 0.28 z"
            stroke="none"
            fill="rgba(255, 255, 255, 0.75)"
          />
        </g>
      </defs>
    </svg>
    <div class="col-sm-12">
      <div id="container" style="height: 30%; width: 100%;"></div>
    </div>

    <script src="https://code.getmdl.io/1.3.0/material.min.js"></script>
  </body>
</html>
