@import url(https://fonts.googleapis.com/css?family=Numans);
body,
html {
  background-image: url(/images/wallpage.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  height: 100%;
  font-family: Numans, sans-serif;
}
.container {
  height: 100%;
  align-content: center;
}
.card {
  max-height: 70%;
  margin-top: auto;
  margin-bottom: auto;
  width: 400px;
  background-color: #fff;
  border: 1px solid gray;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}
.social_icon span {
  font-size: 60px;
  margin-left: 10px;
  color: #ffc312;
}
.social_icon span:hover {
  color: #fff;
  cursor: pointer;
}
.card-header h3 {
  color: #000;
}
.card-header {
  display: flex;
  justify-content: center;
}
.social_icon {
  position: absolute;
  right: 20px;
  top: -45px;
}
.input-group-prepend span {
  width: 50px;
  background-color: #bdbcba;
  color: #000;
  border: 0 !important;
}
input:focus {
  outline: 0 !important;
  box-shadow: 0 0 !important;
}
.remember {
  color: #000;
}
.remember input {
  width: 20px;
  height: 20px;
  margin-left: 15px;
  margin-right: 5px;
}
.login_btn {
  margin-top: 20px;
  color: #fff;
  background-color: #0275d8;
  width: 100px;
}
.login_btn:hover {
  color: #fff;
  background-color: #0365bb;
}
.links {
  color: #000;
}
.links a {
  margin-left: 4px;
}
.card-btn {
  display: flex;
  justify-content: center;
}
.icon-center {
  justify-content: center;
}
